* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Mark_pro;
    src: url(../font/Mark_Pro.ttf);
}

body {
    width: 100%;
    height: 100vh;
    font-family: Mark_pro;
}
.section-main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url(../images/mainimage.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
    box-sizing: border-box;
}

.section-main h2 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    color: #0072b9;
    margin-top: 10%;
    margin-left: 40px;
}
.section_slogan {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    /* or 142% */
    color: #4e4e4e;
    margin-top: 20px;
    margin-left: 40px;
    font-family: Nunito;
}

.section-header_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: auto;
    min-height: auto !important;
    margin-left: 70px;
    position: relative;
}

.section_header_content_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    padding: 20px 100px;
}

.section_header_text_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_header_text_container .seperator {
    /* width: 20px;
    height: 100%;
    background: #fec303; */
}

.section_header_text_container .text_seperator {
    border-left: 20px solid #fec303;
    padding: 20px;
}

.section_header_text_container .text_seperator h1 {
    font-family: Mark_pro;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    color: #ffffff;
}

.section_header_text_container .text_seperator span {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-size: 70px;
    line-height: 114px;
    color: #fec303;
    font-weight: 900;
}

.section_header_text_container .text_seperator button {
    background: #fec303;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 15px;
    font-family: Nunito;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.08);
    border-radius: 5px;
}
